//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_tvp {
            timeout-ms = <100>;
            key-positions = <11 12 13>;
            bindings = <&tog 0>;
        };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp G &kp I &kp F>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        ALPHA {
            bindings = <
       &kp Q  &kp W  &kp E           &kp R  &kp T        &kp Y     &kp U  &kp I            &kp O    &kp P
       &kp A  &kp S  &kp D           &kp F  &kp G        &kp H     &kp J  &kp K            &kp L    &kp SEMI
&none  &kp Z  &kp X  &kp C           &kp V  &kp B        &kp N     &kp M  &kp COMMA        &kp DOT  &kp FSLH  &none
                     &kp LEFT_SHIFT  &mo 1  &kp SPACE    &kp BSPC  &mo 2  &kp RIGHT_SHIFT
            >;
        };

        NAV {
            bindings = <
        &kp ESC    &kp HOME   &kp UP_ARROW    &kp END    &kp RC(F)    &kp EQUAL              &kp KP_N7        &kp KP_N8        &kp KP_N9  &kp RGUI
        &kp TAB    &kp LEFT   &kp DOWN_ARROW  &kp RIGHT  &kp RC(S)    &kp TAB                &kp KP_N4        &kp KP_N5        &kp KP_N6  &kp RCTRL
&tog 6  &kp RC(Z)  &kp RC(X)  &kp RC(C)       &kp RC(V)  &kp RC(A)    &kp MINUS              &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_N3  &kp RALT   &kp KP_NUMLOCK
                              &trans          &trans     &trans       &mt RIGHT_SHIFT ENTER  &mt RCTRL KP_N0  &trans
            >;
        };

        CODE {
            bindings = <
              &kp ESC    &kp AT     &kp HASH   &kp PERCENT  &none      &kp BACKSLASH  &kp PIPE   &kp AMPS           &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
              &kp PLUS   &kp UNDER  &kp EQUAL  &kp MINUS    &none      &kp F2         &kp APOS   &kp DOUBLE_QUOTES  &kp LEFT_BRACE        &kp RIGHT_BRACE
&kp CAPSLOCK  &kp RC(Y)  &kp CARET  &kp STAR   &kp DOLLAR   &none      &kp TILDE      &kp GRAVE  &kp LEFT_BRACKET   &kp RIGHT_BRACKET     &kp EXCL               &trans
                                    &trans     &mo 3        &kp TAB    &trans         &trans     &trans
            >;
        };

        MOUSE {
            bindings = <
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&studio_unlock  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Alpha.SS {
            bindings = <
        &kp Q        &kp W              &kp UP             &kp R            &kp T    &kp Y     &kp U        &kp I            &kp O           &kp P
        &mt LCTRL A  &mt LEFT_WIN LEFT  &mt LEFT_ALT DOWN  &mt LCTRL RIGHT  &kp G    &kp H     &mt RCTRL J  &mt RIGHT_ALT K  &mt LEFT_WIN L  &mt RCTRL SEMICOLON
&trans  &kp Z        &kp X              &kp C              &kp V            &kp B    &kp N     &kp M        &kp COMMA        &kp DOT         &kp FSLH             &none
                                        &none              &none            &none    &kp BSPC  &tog 4       &none
            >;
        };

        Symbol.SS {
            bindings = <
        &kp Q        &kp W           &kp E           &kp R        &kp T    &kp Y     &kp U        &kp I            &kp O           &kp P
        &mt LCTRL A  &mt LEFT_WIN S  &mt LEFT_ALT D  &mt LCTRL F  &kp G    &kp H     &mt RCTRL J  &mt RIGHT_ALT K  &mt LEFT_WIN L  &mt RCTRL SEMICOLON
&trans  &kp Z        &kp X           &kp C           &kp V        &kp B    &kp N     &kp M        &kp COMMA        &kp DOT         &kp FSLH             &none
                                     &none           &none        &none    &kp BSPC  &none        &tog 5
            >;
        };

        ADMIN {
            bindings = <
        &bt BT_CLR_ALL  &none         &none           &sys_reset    &none          &none  &none   &none   &none  &none
        &none           &bt BT_SEL 0  &studio_unlock  &bt BT_SEL 1  &none          &none  &kp T   &kp S   &kp E  &kp T
&tog 6  &none           &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4  &bootloader    &none  &none   &none   &none  &none  &none
                                      &none           &none         &none          &none  &tog 4  &tog 5
            >;
        };
    };
};
